---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Apple Versions">
	<main>
		<h1>Apple <span class="text-gradient">Versions</span></h1>
    <p class="author">
      Made by <a href="https://onevcat.com">@onevcat</a> with ❤️ | <a href="https://github.com/onevcat/apple-versions">Source Code</a>
    </p>
		<p class="instructions">
			Find out the corresponding year of <strong>Apple's opertion systems</strong>. <br /> 
      Useful when choose <code>DEPLOYMENT_TARGET</code> for your Apple cross-platform project.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				title="2023"
				body="iOS 17, iPadOS 17, macOS 14, watchOS 10, tvOS 17, visionOS 1"
			/>
			<Card
				title="2022"
				body="iOS 16, iPadOS 16, macOS 13, watchOS 9, tvOS 16"
			/>
			<Card
				title="2021"
				body="iOS 15, iPadOS 15, macOS 12, watchOS 8, tvOS 15"
			/>
			<Card
				title="2020"
				body="iOS 14, iPadOS 14, macOS 11, watchOS 7, tvOS 14"
			/>
      <Card
				title="2019"
				body="iOS 13, iPadOS 13, macOS 10.15, watchOS 6, tvOS 13"
			/>
      <Card
				title="2018"
				body="iOS 12, macOS 10.14, watchOS 5, tvOS 12"
			/>
      <Card
        title="2017"
        body="iOS 11, macOS 10.13, watchOS 4, tvOS 11"
      />
      <Card
        title="2016"
        body="iOS 10, macOS 10.12, watchOS 3, tvOS 10"
      />
      <Card
        title="2015"
        body="iOS 9, OS X 10.11, watchOS 1, watchOS 2, tvOS 9"
      />
      <Card
        title="2014"
        body="iOS 8, OS X 10.10, Apple TV Software 7"
      />
      <Card
        title="2013"
        body="iOS 7, OS X 10.9, Apple TV Software 6"
      />
      <Card
        title="2012"
        body="iOS 6, OS X 10.8, Apple TV Software 5"
      />
      <Card
        title="2011"
        body="iOS 5, Mac OS X 10.7"
      />
      <Card
        title="2010"
        body="iOS 4, Apple TV Software 4"
      />
      <Card
        title="2009"
        body="iPhoneOS 3, Mac OS X 10.6"
      />
      <Card
        title="2008"
        body="iPhoneOS 2"
      />
      <Card
        title="2007"
        body="iPhoneOS 1, Mac OS X 10.5"
      />
      <Card
        title="🐒"
        body="Ancient Times"
      />
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: 1;
		gap: 2rem;
		padding: 0;
	}
  .author {
    font-size: smaller;
    text-align: center;
  }
  .author a {
    color: rgb(var(--accent-light));
  }
</style>
